.allcontent{
    max-width: 1140px;
    font-family: 'Montserrat', sans-serif;
    display:block;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    
}
.allcontent h2, .reviews h2, .FAQ h2, .wtext h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.h2{
    /* text-align: center; */
    /* font-style: normal;
    font-weight: 700; */
    font-size: 42px;
    /* line-height: 51px; */
    text-align: center;
    color: #050C33;
    font-family: 'Montserrat', sans-serif;
}
.case{
    display: block;
}
.case1{
    display:flex;
}
.pic1{ 
    /* width: 380px;
    height: 215px; */
    padding: 10px;
    /* left: 130px; */
    /* top: 60px; */
    /* float: left; */
    display: block;
  
    
}
.pic{ 
    /* width: 680px;
    height: 375px; */
    /* left: 530px;
    right: 130px; */
    /* float: left; */
    padding: 10px;
    /* position: relative; */
    /* display: inline-block; */
    
    /* position: absolute; */ 
}
 .pic span{
    position: absolute;
    width: 320px;
    height: 44px;
    left: 40px;
    bottom: 40px;
    color: white;
}

h4{
    margin: 5px;
    
}
.h4{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top: 15px;
    padding-left:15px ;
    /* line-height: 22px; */
}
.showmore{
    text-align: center;
    margin-top: 50px;
    margin-bottom:160px ;

}

.date{
    font-size: 12px;
    color: #050C33;
    opacity: 0.5;
    padding-left: 15px ;
    margin: 5px;
}
.slova{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    /* line-height: 22px; */
    color: #050C33;
    /* opacity: 0.7; */
    padding: 15px;
    margin: 5px;
}
.button{
    font-size: 12px;
    line-height: 1px;
    align-items: center;
    text-align: center;
    /* letter-spacing: 0.06em; */
    text-transform: uppercase;
    color: #050C33;
    border: 1px solid #cccdd5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 24px 75px;
    
}
.button:hover{
    color: #F14D34;
}
.team h2{
    bottom: 80px;
}
.team{
    display: block;
    max-width: 1140px;
}
.photo{
    display: flex;
    /* padding: 0 0 176px 0 ; */
}

.ph{
    display: block;
    /* width: 280px;
    height: 280px; */
    /* padding: 0 120px 0 0; */
    padding: 50px;
   
}

.ph span{
    font-weight: 500;
    font-size: 18px;
    /* font-family: 'Montserrat', sans-serif;; */
    text-align: left;
    /* padding: 0px;
    margin: 0;
    top: 0px;
    bottom: 0; */
}

.ph h4{
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.reviews{
    /* max-width: 980px; */
    display: block;
    margin: auto;
    /* background: url(фон_запятые.png); */
    /* background-size: 100%; */
    position: relative;
}
.reviews::after{
   content: url(фон_запятые.png);
    position: absolute;
    top: -110px;
    left: 0;
    z-index: -1;
    height: 1000px;
    width: 1000px;
    /* background-attachment: fixed; */
  
}
.reviews::after img{
    height: 435px;
}

.gallery{
    /* text-align: center; */
    max-width: 910px;
}
.otz-text{
    /* background-color: #fff; */
    border: 1px solid black;
    max-width: 910px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
    border-radius: 5px;
    position: relative;
    
    
}
.otz{
    display: block;
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 600px;
    border-right:0.5px solid rgba(0, 0, 0, 0.329) ;
}
.otz h6{
    padding-top: 40px;
    padding-right:40px ;
   
    
}


.slider, .slick-prev, .slick-next{
    z-index: 10;
    position: absolute;
    top: 0;
    font-size: 0;
    width: 30px;
    height: 57px;
    margin:  -30px 0 0 0;
   
  }
  .otz{
      position: relative;
  }
  .slider, slick-arrow, .slick-prev{
   float: right;
    background: url('стрелка2.svg')  0 0 /100% no-repeat;
    left:650px;
    position: absolute;
    top: 30%;
  }
  .slider{
      position: relative;
      
  }
.otz-text::after{
    content: "";
    position: absolute;
    width: 852px;
    height: 457px;
    background-color: #FFFFFF;
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
    border-radius: 5px;
    z-index: -1;
    top: 0;
}
  .slider, slick-arrow,.slick-next{
    background: url('стрелка1.svg') 0 0 /100% no-repeat;
    right: 50px;
    top: 30%;

  } 
 
   .slick-dots li{
list-style: none;
  }
  button{
    border: 0;
    outline: none;
    background-color: rgb(255, 255, 255);
  }
  
  .gallery{
    /* max-width: 1250px; */
    margin: 0 auto;
   
}
.slick-slide{
    display:flex;
}
.slick-list{
    overflow: hidden;
}

.slick-centre{
text-align: center;
}

.otz img{
    border: 2px;
    outline: none;
  }
.company img{
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    /* height: 155;
    width: 291; */
    position: relative;
  
}
.work{
    margin-top: 75px;
}
.work .company{
    text-align: center;
    margin: 20px;
    
}
.work1 .company{
    margin: 20px;
}
.worker{
    display: block;
    /* height:44px ;
    width: 740px ;
    margin: auto; */
}
.worker h2{
    margin: 0;
    padding-top: 160px;
}
.worker .wtext span{
    text-align: center;
    margin: auto;
   text-align: center;
}
.work .slick-track{
padding-top: 200px;
}
.wtext{
    /* display: block; */
    height:44px ;
    width: 740px ;
    margin: auto;
    
}
.wtext .h2{
    font-size: 42px;
    /* line-height: 51px; */
    text-align: center;
    color: #050C33;
    font-family: 'Montserrat', sans-serif;
}
 .wtext .span{
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.elblock_content{
    display:flex;
    max-width: 1100px;
    margin: auto;
   
}
/* .elblock{
    position: relative;
} */
.elblock::after{
    content: url(D-flying.svg);
    position: absolute;
    top: 0;
    left: 44%;
    z-index:-1;
    
}
.elblock {
    position: relative;
   background-size: 100%;
    font-family: 'Montserrat', sans-serif;;
    background-color: black;
    z-index: -2;
    	background-attachment: fixed;
    color: white;
    margin: 160px 0 0 0;
}
/* .elblock-index{
    background-size: 100%;
   
    background-color: black;
    z-index: -4;
    	background-attachment: fixed;
  
    
 } */
.content_left{
    display: block;
  
}
.content_form {
  width: 480px;
   display: block;
   margin: 40px 0 142px 0;
  
}
.content_form h2{
    font-size: 42px;
    margin: 0 0  20px 0 ;
    
}
.content_form span{
    font-family: 'Montserrat', sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 14px;
/* line-height: 22px; */
}
.contact{
    display: flex;
   
}
.contact h2{
    font-size: 32px;
line-height: 150%;
margin: 0;
padding:  5px 0 0 0;
}
.contact img{
    width: 18px;
    height: 18px;
    opacity: 0.5;
    margin: 20px 20px 0 0;
    padding: 0 ;
    
}
.contact a{
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    padding:  15px 0 0 0;
    color: white;
    text-decoration: underline;
}
.contact a:hover{
color:#F14D34;
}

.content_right{
    display: block;
    float: right;
}
input{
   
    display: block;
    /* margin: 7px auto; */
    /* padding: 30 0 0 5px; */
    background-color: transparent;
    border: 1px solid #ffffff70;
/* box-sizing: border-box; */
border-radius: 5px;
/* font-weight: 500; */
width: 100%;
    font-size: 14px;
    padding: 14px 24px;
    margin: 5px;
    color: #fff;


}
input::placeholder {
    color: rgb(255, 255, 255);
  }
.forma{
    padding: 5px;
}
.obrabotka .forma  label input {
    display: flex;
    width: 25px;
    height: 25px;
    background-color:transparent;
    float: left;
    border: 1px solid #ffffff70;
    border-radius: 5px;
    margin-right: 13px;
}
.obrabotka .forma  label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
line-height: 15px;
}
.obrabotka .forma  label input::before{
    background-color: #000;
}
.forma .svaz input{
     background: #F14D34;
     border:1px solid #F14D34 ;
}
.forma .svaz input:hover{
    background: transparent;
    border:1px solid #F14D34 ;
}
.forma a{
    color:#F14D34 ;
}
.forma a:hover{
    color: #F14D34 ;
}
.footer{
    border-top: 1px solid #ffffff6c;
    position: relative;
}
.footer::after{
    content: url(Group.svg);
    position: absolute;
    bottom: -6px;
    right: 0;
}

.footer_content{
    display:block;
    max-width: 1100px;
    margin: auto;
    padding:  80px 0 50px 0;
    
}
.social_networks{
    display:flex;
    /* padding:  80px 0 0  0; */
}
.social_networks a{

    margin:0 20px 20px 0;
}
.social_networks img{
    border-radius: 5px;
}
.social_networks img:hover{
 filter: grayscale(100%);
 border: 1px solid #F14D34;
}
.social_networks a{
    border-radius: 5px;
    border: 1px solid transparent;
}
.social_networks a:hover{
    border: 1px solid #F14D34;
}
.tenblock{
    max-width: 1100px;
    display: block;
    margin: auto;
}
.FAQ .h2{
    padding-bottom: 30px;
    padding-top: 100px;
}

  .container {
    width: 100%;
    /* margin: 50px auto;
    display: block; */
  }
  
  
  .container .faq {
    width: 100%;
    position: relative;
  }
  
  .container .faq-answer {
    display: none;
  }
  .container .faq-questions, .container .faq-questions > li {
    width: 100%;
    display: block;
    padding: 10px;
  }
  .container .faq-questions > li {
    background-color:transparent;
  }
 
  .container .faq-questions > li h4.faq-question, .container .faq-questions > li faq-question {
    /* font-size: 12pt; */
    font-weight: 700;
    color: #000000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;;
  }
  .container .faq-questions > li p .faq-answer, .container .faq-questions > li .faq-asnwer {
    font-size: 10pt;
    line-height: 1.5;
    margin-top: 7px;
    display: none;
    font-family: 'Montserrat', sans-serif;;
  }
  /* .container .faq-questions > li p .faq-answer{
      margin-bottom: 0px;
      
      padding: 0 0 0 0;
  } */

  .opened .faq-question{
      color: #F14D34;
  }
  .opened{
      border: 1px dashed #F14D34;
  }
  .work img{
      width: 291px;
  }
  .reviews .h2{
      padding: 20px;
  }
 
  /* @media screen and ( max-width: 769px ){
      .allcontent{
          max-width: 700px;

      }
      .elblock_content{
        display:block;
        max-width: 600px;
        margin: auto;
    } */
  /* } */
  
  

